.wy-nav-content-wrap {
    background: rgba(0,0,0,.05);
}
.wy-nav-content-wrap {
    margin-left: 300px;
    background: #fcfcfc;
    min-height: 100%;
}

.wy-nav-content-wrap {
    background: rgba(0,0,0,.05);
}
.wy-nav-content-wrap {
    margin-left: 300px;
    background: #fcfcfc;
    min-height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
}
body {
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    color: #404040;
    min-height: 100%;
    background: #edf0f2;
}
body {
    font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
    font-weight: 400;
    color: #404040;
    min-height: 100%;
    background: #edf0f2;
}
html {
    font-size: 16px;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html {
    font-size: 16px;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: inherit;
}